html
    head
        title Logowanie do aplikacji
        link(href="/style.css", rel="stylesheet")
    body
        h2 Aplikacja do logowania
        label User name
        input
        if(user)
            h1 Hi, #{user.name}
        else
            a(href="/auth/google", class="test") Sign Up
